<!DOCTYPE html>
<html>
  <head>
    <% include ../templates/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/card.min.css" />
  </head>
  <body>
    <% include ../templates/navigation.ejs %>
    <div class="main-panel-content">
      <div class="row">
        <div class="col-md-2 sidebar">
          <% include ../templates/panel/navigation.ejs %>
        </div>
        <div class="col-md-10">
          <% include ../templates/panel/header.ejs %>

          <div class="panel-content-main-section">
            <div class="panel-content-header">
              <div class="row">
                <div class="col-md-7">
                  <h5 class="display-5">My Plans <small>All the plans you are currently subscribed to.</small></h5>
                </div>
                <div class="col-md-5">
                  <div class="panel-buttons">
                  </div>
                </div>
              </div>
            </div>
            <div style="width:100%">
              <% if(advanced && advanced.valid) { %>
              <div class="plan-header">
                <div class="row">
                  <div class="col-md-4">
                    <i class="fa fa-motorcycle" aria-hidden="true"></i>
                    
                    <h3>Advanced</3>
                    
                    <p id="pricetag"><span class="pricetag-span">$19.99</span> / month</p>
                  </div>
                  
                  <div class="col-md-8 text-right">
                    <a id="cancel_subscription" href="/billing/cancel_sub/<%= advanced.id %>" class="btn btn-danger">Cancel</a>
                  </div>
                </div>
              </div>
              <div class="plan-content">
                <p>1.9% of Ticket + 30p</p>
                <p>Custom Branding</p>
                <p>24/7 Email Support</p>
              </div>
              <% } else { %>
              <div class="plan-header">
                <div class="row">
                  <div class="col-md-4">
                    <i class="fa fa-bicycle" aria-hidden="true"></i>
                    
                    <h3>Starter</3>
                    
                    <p id="pricetag"><span class="pricetag-span">$0</span> / lifetime</p>
                  </div>
                  
                  <div class="col-md-8 text-right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                      Subscribe
                    </button>
                  </div>
                </div>
              </div>
              <div class="plan-content">
                <p>2.9% of Ticket + 60p</p>
                <p>No Custom Branding</p>
                <p>Limited Support</p>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <% include ../templates/javascripts.ejs %>
    <% include ../templates/footer.ejs %>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Subscribe to Advanced Plan</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="form" action="/billing/charge" method="POST">
            <div class="modal-body">
              <p class="lead">All your card information is completely secure and encrypted when passed to our payment-processor.</p>
              
              <p>When you subscribe to this plan, you will recieve the following:</p>
              <ul>
                <li>1.9% of Ticket + 30p </li>
                <li>Custom Branding</li>
                <li>Email / Chat Support</li>
              </ul>
              <div class="card-js" data-icon-colour="#158CBA" data-stripe="true">
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Subscribe</button>
            </div>
          </form> 
        </div>
      </div>
    </div>
    <script src="/javascripts/card.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script>
      Stripe.setPublishableKey('<%= keyPublishable %>');
      
      function stripeResponseHandler(status, response) {

        // Grab the form:
        var $form = $('#form');
      
        if (response.error) { // Problem!
      
          // Show the errors on the form
          $form.find('.payment-errors').text(response.error.message);
          $form.find('button').prop('disabled', false); // Re-enable submission
      
        } else { // Token was created!
      
          $("#form").find('button').prop('disabled', true).html("<i class='fa fa-spinner fa-spin'></i> Subscribing...");
      
          // Get the token ID:
          var token = response.id;
      
          // Insert the token into the form so it gets submitted to the server:
          $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      
          // Submit the form:
          $form.get(0).submit();
      
        }
      }
      
      $("#form").on("submit", function(e) {
        
        e.preventDefault()
        
        Stripe.card.createToken({
          number: $('.card-number').val(),
          cvc: $('.cvc').val(),
          exp_month: $('.expiry-month').val(),
          exp_year: $('.expiry-year').val()
        }, stripeResponseHandler);
        
      })
      
      $("#cancel_subscription").click(function(event) {
        event.preventDefault()
        swal({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Confirm'
        }).then((result) => {
          if(result.value) {
            window.location = $(this).attr("href")
          }
        })
      })

    </script>
  </body>
</html>
